rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /billingUsers/{id} { allow read, write: if false; }
    match /billingTokens/{id} { allow read, write: if false; }
  }
}
